.RData
.RHistory
code/java/uniprot/.idea/workspace.xml
code/java/uniprot/.idea/uiDesigner.xml
code/java/uniprot/out/
code/R/Magnan/PSSM/
code/R/Magnan/TestSetFASTAs/
code/R/Magnan/TestSetPSSMs/
code/R/Magnan/TrainingSetFASTAs/
code/R/Magnan/TrainingSetPSSMs/
code/R/Magnan/RDSFiles/
